body{
    font-family: Arial, Helvetica, sans-serif;
}

/* style header */
.header{
    padding-left: -100px;
    padding-right: -100px;
}
.header-atas{

}
.header-bawah{

}

/* style banner */
.banner{
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 570px;
}
.banner-text{
    padding-left: 75px;
    padding-right: 700px;
    padding-top: 90px;
    color: white;
}
.banner-text p{
    font-size: 12px;
    word-spacing: 2px;
}
.banner-text h2{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.banner .banner-text .deskripsi{
    padding-top: 10px;
}
.banner .banner-text .hub{
    font-weight: bold;
}

/* style section-1 */
.section-1{
    padding-top: 100px;
    padding-bottom: 100px;
}
.section-1 .container{
    padding-left: 75px;
    padding-right: 75px;
}
.section-1 .container .title{
    color: brown;
    font-weight: 500;
    word-spacing: 2px;
}
.section-1 .container h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-right: -83px;
}
.section-1 .container p{
    font-size: 12px;
}
.section-1 .container .deskripsi{
    padding-top: 10px;
}
.section-1 .container .hub {
    padding-top: 10px;
    font-weight: bolder;
}
.section-1 .container .about-pict{
    width: 320px;
    height: 320px;
    margin-left: 100px;
    /* margin-top: 10px; */
    margin-bottom: 30px;
}

/* style section-2 */
.section-2{
    background-color: rgb(4, 20, 67);
    color: white;
    padding-left: 75px;
    padding-right: 75px;
}
.section-2 .container{
    padding-top: 100px;
    padding-bottom: 100px;
}
.section-2 .container .about-pict{
    width: 450px;
    height: 450px;
    padding-left: 50px;
}
.section-2 .container .text-2{
    padding-top: 50px;      
    margin-left: -50px;  
}
.section-2 .container .text-2 .title{
    color: brown;
    font-weight: 500;
    word-spacing: 2px;
}
.section-2 .container .text-2 p{
    font-size: 12px;
    margin-right: 100px;
}
.section-2 .container .text-2 h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-left: -100px;
    /* font-style: italic; */
    font-weight: bold;
}
.section-2 .container .text-2 .hub{
    font-weight: bold;
}

/* style section-3 */
.section-3{
    padding-top: 100px;
    padding-bottom: 15px;
    background-color: rgb(232, 232, 232);
}
.section-3 .container{
    padding-left: 75px;
    padding-right: 75px;
}
.section-3 .container .title{
    color: brown;
    font-weight: 500;
    font-size: 12px;
    word-spacing: 2px;
}
.section-3 .container h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}
.section-3 .container .row{
    padding-top: 15px;
    padding-bottom: 30px;
}
.section-3 .container .img{
    width: 100px;
}
.section-3 .container .img-2{
    width: 100px;
    opacity: 0%;
}
.section-3 .container .text-img{
    padding-top: 10px;
    padding-bottom: 10px;
}
.section-3 .container h5{
    font-size: 12px;
    font-weight: bold;
}
.section-3 .container p{
    font-size: 9px;
    font-weight: bold;
}

/* style section-4 */
.section-4 {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 110px;
    padding-right: 110px;
}
.section-4 .container .title{
    color: brown;
    font-size: 12px;
    font-weight: 500;
    word-spacing: 2px;
}
.section-4 .container .img-2{
    height: 97px;
    padding-top: 10px;
}
.section-4 .container .img-3{
    height: 97px;
    padding-top: 20px;
}
.section-4 .container .img-4{
    height: 100px;
}
.section-4 .container .text{
    font-size: 10px;
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
}
.section-4 .container .hub{
    font-size: 12px;
}

/* style section-5 */
.section-5{
    padding-top: 100px;
    padding-bottom: 70px;
    padding-left: 230px;
    padding-right: 230px;
    background-color: rgb(232, 232, 232);
}
.section-5 .container h6{
    font-size: 25px;
    font-weight: bold;
}
.section-5 .container p{
    font-size: 10px;
    word-spacing: 1px;
    padding-top: 40px;
    font-weight: 500;
}

/* style footer */
.top-footer{
    background-color: rgb(4, 20, 67);
    color: white;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 75px;
    padding-right: 75px
}
.top-footer .line{
    border-top: 3px solid #fff;
    padding-bottom: 20px;
}
.top-footer .title{
    font-weight: bold;
    word-spacing: 1px;
}
.top-footer p{
    font-size: 12px;
}
.top-footer .email{
    color: brown;
}
.top-footer .telp{
    color: white;
    margin-top: -20px;
}
.top-footer .brand{
    height: 50px;
    /* text-align: right; */
}

/* style bottom footer */
.bottom-footer{
    background-color: rgb(4, 20, 67);
    color: rgba(255, 255, 255, 0.457);
    padding-left: 75px;
    padding-right: 75px;
    font-size: 12px;
}
