@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}
h1,h2,h3,h4{
    font-family: 'Times New Roman', Times, serif;
}

/* style header */
#header{
    position: fixed;
    align-items: center;
    display: flex;

    /* background-color: rgb(4, 20, 67); */
}
.header-atas{
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
    border-bottom: 1px solid white;
    padding-left: 48px;
    margin-left: 48px;
    gap: 100px;
}
.container{
    width: 1500px !important;
}
.brand{
    position: absolute;
    margin-top: 20px;
}
.brand2{
    margin-left: 10px;
    margin-top: 13px;
}
.p{
    margin-right: 50px;
    margin-top: 20px;
}
.hed{
    align-items: center;
    display: flex;
    gap: 50px;
}
.header-bawah{
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.header p{
    font-size: 12px;
    font-weight: 400;
    color: white;
    letter-spacing: 1px;
}
.item{
    display: flex;
    justify-content: space-between;
    /* width: 90px; */
}

/* style banner */
.banner{
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 630px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 200px;
    display: block;
    align-items: center;
}
.banner-text{
    padding-right: 700px;
    color: white;
}
.banner-text .title{
    font-size: 13px;
    letter-spacing: 1px;    
}
.banner-text p{
    font-size: 13px;
    word-spacing: 2px;
}
.banner-text h2{
    padding-bottom: 10px;
}
.banner .banner-text .hub{
    font-weight: bold;
    letter-spacing: 1px;
    padding-top: 20px;
}

/* style section-1 */
.section-1{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 80px;
    padding-right: 100px;
}
.section-1 .container{
    /* padding-left: 50px; */
    padding-right: 50px;
}
.section-1 .container .title{
    color: brown;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 13px;
    margin-top: 30px;
}
.section-1 .container h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-right: -83px;
}
.section-1 .container p{
    font-size: 12px;
}
.section-1 .container .deskripsi{
    padding-top: 10px;
}
.section-1 .container .hub {
    padding-top: 10px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 13px;
    /* font-weight: bolder; */
}
.section-1 .container .about-pict{
    /* width: 100%; */
    height: 400px;
    margin-left: 135px;
    /* margin-top: 10px; */
    margin-bottom: 30px;
}

/* style section-2 */
.section-2{
    background-color: rgb(4, 20, 67);
    color: white;
}
.section-2 .container{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 100px;
    padding-left: 100px;
}
.section-2 .container .about-pict{
    /* width: 40px; */
    height: 450px;
}
.section-2 .container .text-2{
    padding-top: 100px;      
    /* margin-left: -50px;   */
}
.section-2 .container .text-2 .title{
    color: brown;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 600;
}
.section-2 .container .text-2 p{
    font-size: 12px;
}
.section-2 .container .text-2 h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 37px;
    margin-left: -100px;
    font-weight: bold;
}
.section-2 .container .text-2 .hub{
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 20px;
}

/* style section-3 */
.section-3{
    padding-top: 100px;
    padding-bottom: 15px;
    background-color: rgb(232, 232, 232);
}
.section-3 .container .title{
    color: brown;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 600;
}
.section-3 .container h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 43px;
}
.section-3 .container .row{
    padding-top: 15px;
    padding-bottom: 30px;
}
.section-3 .container .img{
    width: 200px;
}
.section-3 .container .img-2{
    width: 200px;
    opacity: 0%;
}
.section-3 .container .text-img{
    padding-top: 30px;
    padding-bottom: 10px;
}
.section-3 .container h5{
    font-size: 16px;
    font-weight: bolder;
}
.section-3 .container p{
    font-size: 13px;
    font-weight: bold;
}

/* style section-4 */
.section-4 {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    /* align-items: center; */
}
.section-4 .container .title{
    color: brown;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 600;
}
.section-4 .container .img-2{
    height: 97px;
    padding-top: 10px;
}
.section-4 .container .img-3{
    height: 97px;
    padding-top: 20px;
}
.section-4 .container .img-4{
    height: 100px;
}
.section-4 .container .text{
    font-size: 14px;
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
}
.section-4 .container .hub{
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 600;
}

/* style section-5 */
.section-5{
    padding-top: 100px;
    padding-bottom: 70px;
    background-color: rgb(232, 232, 232);
}
.section-5 .container h2{
    /* font-size: 40px; */
    padding-left: 160px;
    padding-right: 160px;
    font-weight: bold;
}
.section-5 .container p{
    font-size: 13px;
    word-spacing: 1px;
    padding-top: 40px;
    font-weight: 600;
}

/* style footer */
.top-footer{
    background-color: rgb(4, 20, 67);
    color: white;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 75px;
    padding-right: 75px;
}
.top-footer .line{
    border-top: 3px solid #fff;
    padding-bottom: 20px;
}
.top-footer .title{
    font-weight: bold;
    word-spacing: 1px;
}
.top-footer p{
    font-size: 14px;
}
.top-footer .email{
    color: brown;
}
.top-footer .telp{
    color: white;
    margin-top: -20px;
}
.top-footer .brand-footer{
    height: 80px;

}

/* style bottom footer */
.bottom-footer{
    background-color: rgb(4, 20, 67);
    color: rgba(255, 255, 255, 0.457);
    padding-left: 75px;
    padding-right: 75px;
    font-size: 14px;
}
